
.icon-user:before { content: '\e800'; } /* '' */
.icon-wrench:before { content: '\e801'; } /* '' */
.icon-phone:before { content: '\e802'; } /* '' */
.icon-mail:before { content: '\e803'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-gplus:before { content: '\f0d5'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-suitcase:before { content: '\f0f2'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-behance:before { content: '\f1b4'; } /* '' */
.icon-envelope-open:before { content: '\f2b6'; } /* '' */