@charset "utf-8";

body {
  background: #000000;
  height: 100%;
  width: 100%;
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
  color: white;
}



h1 {
  font-size:80px;
  text-align: left;
}

h2 {
  font-size:40px;
  text-align: center;
}

h3 {
  font-size: 20px;
  text-align: center;
}

h1.headertext {
  font-size:80px;
  margin-top: 10px;
  margin-bottom: 10px;
  opacity: 0.9;
  color: #ef716b;
  font-stretch: ultra-condensed;

}

a:link {
  color: #ffffff;
  text-decoration: none;
}

a:visited {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: #ef716b;
  text-decoration: none;
}

a:active {
  color: #ffffff;
  text-decoration: none;
}


main {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

header {
  background-image: url('header.jpg');
  background-size: 100%;
  background-position: 100%;
  width:100%;
  height: 600px;
}



.about {
  background-image: url('about.jpg');
  background-size: 100%;
  background-position: 100%;
  width: 50%;
  height: 200px;
  float: left;
}

.map {
  background: #bfbfbf;
  background-image: url('map.jpg');
  background-size: 100%;
  background-position: 100%;
  width:50%;
  height: 200px;
  float: left;
}


.blog {
  background: #565656;
  width:100%;
  margin-left: auto;
  margin-right: auto;
  clear: both;
  float: left;
  text-align: center;
}

.entry {
  background: #3f3f3f;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  margin-bottom: 40px;

}

.entry-img {
  display: inline-block;
  width: 20%;
  height: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
  float: left;
}


.entry-img img {
  width: 100%;
  height: 80%;
  margin-left: 20px;
  margin-right: auto;

}

.entry-txt {
  padding: 2px;
  display: inline-block;
  width: 70%;
  height: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px
}


.gallery {

  background: #999999;
  width:100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  clear: both;
  text-align: center;
  padding: 0px;
  float: left;
}

.photos {
  display: inline-block;
  float: none;
}

.photos img {
  width: 300px;
  height: 300px;
}

.photos a {
  opacity: 0.9;
}

.photos a:hover {
  opacity: 1;
}

figure {
  margin: 5px;
  padding: 0px;
}

.quote {
  background-image: url('footer.jpg');
  background-size: 100%;
  background-position: 100%;
  width:100%;
  margin: 0px;
  clear: both;
  text-align: center;
  padding: 0px;
  float: left;
}

.contact {
  background-color: #3f3f3f;
  background-size: 100%;
  background-position: 100%;
  width:100%;
  margin: 0px;
  clear: both;
  text-align: center;
  padding-bottom: 60px;
  float: left;
}

.contactbutton {
  background-color: #565656;
  padding: 20px;
  margin-bottom: 20px;
  color: #efefef;
  font-size: 18px;
  text-decoration: none;
  border-radius: 5px;
  min-width: 300px;

}

.contactbutton:hover {
    background-color: #3d3d3d;
}

footer {

  background: #161616;
  margin: 0px;
  width:100%;
  clear: both;
  float: left;
  text-align: center;
}




.contactdetails {
  margin-top: 30px;
  text-align: center;
}

.contactdetails > p {
  text-align: center;
}

.about-show, .blog-show, .gallery-show {
  background: #999999;
  width:100%;
  height: 200px;
  float: left;
}


p {
  font: 14px Tahoma, sans-serif;
  text-align: left;
}

.scrollup {
  height: 64px;
  width: 64px;
  text-decoration: none;
  background: url("up.png") no-repeat 0px 0px;
  position: fixed;
  right: 50px;
  bottom: 50px;
  opacity: 0.5;
  display: none;
}


nav {
  background-color: #bfbfbf;
  text-align: right;
}

.menu {
  list-style-type: none;
  margin: 0px;
  padding: 10px;
  font-size: 18px;
  min-height: 40px;
  line-height: 200%;
}

.menu > li {
  display: inline-block;
  padding-right: 30px;
  padding-left: 30px;
}


.socials
{
	width:100%;
	text-align: center;
	background-color: #161616;
}

.socialdivs
{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

.be
{
	width: 250px;
	height: 155px;
	float:left;
}

.be:hover
{
	background-color: #050505;
}

.li
{
	width: 250px;
	height: 155px;
	float:left;
}

.li:hover
{
	background-color: #050505;
}

.tw
{
	width: 250px;
	height: 155px;
	float:left;
}

.tw:hover
{
	background-color: #050505;
}

.gh
{
	width: 250px;
	height: 155px;
	float:left;
}

.gh:hover
{
	background-color: #050505;
}
