@charset "utf-8";

body {
  background: #000000;
  height: 100%;
  width: 100%;
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
  color: white;
}

h1, h2 {
  text-align: center;

}

h1 {
  font-size:80px;

}

h2 {
  font-size:40px;
}

h1.headertext {
  font-size:80px;
  margin-top: 10px;
  margin-bottom: 10px;
  opacity: 0.5;
}

a:link {
  color: #ffffff;
  text-decoration: none;
}

a:visited {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: #485b3b;
  text-decoration: none;
}

a:active {
  color: #ffffff;
  text-decoration: none;
}


main {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

header {
  background-image: url('header.jpg');
  background-size: 100%;
  background-position: 100%;
  width:100%;
  height: 600px;
}



.about {
  background-image: url('about.jpg');
  background-size: 100%;
  background-position: 100%;
  width: 50%;
  height: 200px;
  float: left;
}

.map {
  background: #bfbfbf;
  background-image: url('map.jpg');
  background-size: 100%;
  background-position: 100%;
  width:50%;
  height: 200px;
  float: left;
}


.blog {
  background: #b3b3b3;
  width:100%;
  margin-left: auto;
  margin-right: auto;
  clear: both;
  float: left;
  text-align: center;
}

.gallery {

  background: #999999;
  width:100%;
  margin-left: auto;
  margin-right: auto;
  clear: both;
  text-align: center;
}

.photos {
  display: inline-block;
  float: none;
}

.photos a {
  opacity: 0.9;
}

.photos a:hover {
  opacity: 1;
}

figure {
  margin: 5px;
  padding: 0px;
}

footer {
  /*background: #595959;*/
  background-image: url('footer.jpg');
  background-size: 100%;
  background-position: 100%;
  margin: 0px;
  width:100%;
  clear: both;
  float: left;
}

.about-show, .blog-show, .gallery-show {
  background: #999999;
  width:100%;
  height: 200px;
  float: left;
}


p {
  font: 14px Tahoma, sans-serif;
  text-align: left;
}

.scrollup {
  height: 64px;
  width: 64px;
  text-decoration: none;
  background: url("up.png") no-repeat 0px 0px;
  position: fixed;
  right: 50px;
  bottom: 50px;
  opacity: 0.5;
  display: none;
}


nav {
  background-color: #bfbfbf;
  text-align: right;
}

.menu {
  list-style-type: none;
  margin: 0px;
  padding: 10px;
  font-size: 18px;
  min-height: 40px;
  line-height: 200%;
}

.menu > li {
  display: inline-block;
  padding-right: 30px;
  padding-left: 30px;
}
